@page "/editcategory/{id:int}"
@using Projekt151.Model
@inject NavigationManager NavigationManager
@inject Services.IKategorieService CategoryService

<h2>Edit Category</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind="@kategorie.KategorieName" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Beschreibung</label>
                <input for="Name" class="form-control" @bind="@kategorie.Beschreibung" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@UpdateCategory" value="Update" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</form>

@code { 
    [Parameter]
    public int id { get; set; }
    Kategorie kategorie = new Kategorie();
        
    protected override async Task OnInitializedAsync()
    {
        kategorie = await CategoryService.SingleCategory(id);
    }

    protected async Task UpdateCategory()
    {
        await CategoryService.EditCategory(id, kategorie);
        NavigationManager.NavigateTo("listcategories");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("listcategories");
    } 
}     