@inherits LayoutComponentBase
@implements IDisposable
@inject Data.LoginState loginState
@inject NavigationManager NavigationManager
@using Projekt151.Model
@inject Services.IMitarbeiterService EmployeeService
@inject Services.IRoleService RoleService


    <div class="sidebar">
        @if (loginState.IsLoggedIn)
        {
            <NavMenu />
        }
    </div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
 


@code {
    protected override void OnInitialized()
    {
        loginState.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        loginState.OnChange -= StateHasChanged;
    }
}



