@page "/"
@using Projekt151.Model
@inject Services.IRoleService RoleService

@if (role.RoleName == "Admin")
{
    <h1>Admin</h1>
}
else
{
    <h1>Welcome</h1>
}

@code { Role role = new Role();

            protected override async Task OnInitializedAsync()
            {
                role = await RoleService.SingleRole(1);
            } 
    }