@page "/login"
@inject Data.LoginState loginState
@inject Services.IMitarbeiterService EmployeeService
@inject NavigationManager navigate
@using Projekt151.Model


@if (loginState.IsLoggedIn.Equals(false))
{
    <h1 style="text-align:center">Login</h1>

    @if (!doesExist)
    {
        <p style="color: red; text-align:center">There is no combination of the user and password found, please check the spelling an try again!</p>
    }

    <form style="width: 40%; margin: auto">
        <div style="text-align:center">
            <div class="form-group">
                <label aria-label="Name" for="Name" class="control-label">Name</label>
                <input aria-label="Password" for="Name" class="form-control" @bind-value="username" />
            </div>
        </div>
        <div style="text-align:center">
            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input for="Password" type="password" class="form-control" @bind-value="password" />
            </div>
        </div>
    </form>
    <div style="text-align:center">
        <button type="submit" class="btn btn-primary" @onclick="@HandleLogin">Login</button>
    </div>
}

@code {
    IEnumerable<MitarbeiterModel> employees;
    string username = "";
    string password = "";
    bool doesExist = true;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeService.GetEmployees();
    }

    void HandleLogin()
    {
        @foreach (var e in employees)
        {
            if (password == e.Password && username == e.MitarbeiterName)
            {
                loginState.SetLogin(true, username, e.RoleName);
                navigate.NavigateTo("listprojects");
            } else
            {
                doesExist = false;
            }
        }
    }
}