@page "/listemployees"
@using Projekt151.Model
@inject Services.IMitarbeiterService EmployeeService
@inject Data.LoginState loginState

<h2>Employee Details</h2>
@if (loginState.role.Equals("Admin"))
{
<p>
    <a href="/addemployee">Create New Employee</a>
</p>
}
@if (employees == null)
{
<p><em>Loading...</em></p> }
else
{
<table class='table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in employees)
        {
<tr>
    <td>@employee.MitarbeiterName</td>
    <td>@employee.NameStadt</td>
    <td>@employee.RoleName</td>
    <td>
        @if (loginState.role.Equals("Admin"))
        {
<a href='/editemployee/@employee.MitarbeiterId'>Edit</a>
        <span>|</span>
                        <a style="color: red" href='/deleteemployee/@employee.MitarbeiterId'>Delete</a>}
    </td>
</tr>
}
    </tbody>
</table>}

@code { IEnumerable<MitarbeiterModel> employees;
    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeService.GetEmployees();
    } }     