@page "/listcategories"
@inject Services.IKategorieService CategoryService
@using Projekt151.Model
@inject Data.LoginState loginState

<h2>Categories Details</h2>
<p>
    <a href="/addcategory">Create New Category</a>
</p>
@if (categories == null)
{
<p><em>Loading...</em></p> }
else
{
<table class='table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in categories)
        {
<tr>
    <td>@category.KategorieName</td>
    <td>@category.Beschreibung</td>
    <td>
        @if (loginState.role.Equals("Admin"))
        {
<a href='/editcategory/@category.KategorieId'>Edit</a>
        <span>|</span>
                        <a style="color: red" href='/deletecategory/@category.KategorieId'>Delete</a>}
    </td>
</tr>}
    </tbody>
</table>}

@code { IEnumerable<Kategorie> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.GetCategories();
    } }  