@using Projekt151.Model
@inject Data.LoginState loginState

@page "/listcities"
@inject Services.IStadtService StadtService

<h2>City Details</h2>
@if (loginState.role.Equals("Admin"))
{
    <p>
        <a href="/addcity">Create New City</a>
    </p>
}

@if (cities == null)
{
<p><em>Loading...</em></p> }
else
{
<table class='table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in cities)
        {
<tr>
    <td>@city.StadtName</td>
    <td>
        @if (loginState.role.Equals("Admin"))
        {
<a href='/editcity/@city.StadtId'>Edit</a>
                        <a href='/deletecity/@city.StadtId'>Delete</a>}
    </td>
</tr>}
    </tbody>
</table>}

@code { IEnumerable<Stadt> cities;
    protected override async Task OnInitializedAsync()
    {
        cities = await StadtService.GetCities();
    } }